<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IMRG Demo</title>
<link rel="stylesheet" th:href="@{/IMRG/css/standard.css}" />
</head>

<body>
	<div class="centered">
		<div class="headerdiv">
			<img th:src="@{/IMRG/images/RFI_Logo.png}" />
			<h2>IMRG Demo - Error</h2>
		</div>

		<div class="bodydiv">
			<table align="center">
				<tr>
					<td align="left">Date: </td>
					<td align="left" th:text="${timestamp}" />
				</tr>
				<tr>
			        <td align="left">Status: </td>
			        <td align="left" th:text="${status}"/>
		    	</tr>
				<tr>
			        <td align="left">Error: </td>
			        <td align="left" th:text="${error}"/>
		    	</tr>

			</table>
		</div>
		<div id="outdiv">
			<form action="#" th:action="@{/IMRG/index}">
				<input type="submit" value="Torna alla Home">
			</form>
		</div>
	</div>
</body>
</html>
